<hr>
<h3>
  Test component!
  <br>
  Welcome {{ name }}
</h3>

<p>
  Test component description goes here!
</p>
<p>
  Site URL: {{ siteUrl }}
</p>
<div>
  {{ greetUser() }}
</div>

<input type="text" id="{{myId}}" bind-value="name">
<input type="text" [id]="myId" [disabled]="isDisabled" [value]="name">

<div>
  <h2>Working with css classes</h2>
  <div>
    <p [class.text-error]="hasError">
      This text might be with errors
    </p>
    <p [ngClass]="messageClasses">
      This text is binded with angular special chars
    </p>
  </div>
</div>


<hr>