<hr>
<h3>
  Test component!
  <br>
  Welcome {{ name }}
</h3>

<p>
  Test component description goes here!
</p>
<p>
  Site URL: {{ siteUrl }}
</p>
<div>
  {{ greetUser() }}
</div>

<input type="text" id="{{myId}}" bind-value="name">
<input type="text" [id]="myId" [disabled]="isDisabled" [value]="name">

<div>
  <h2>Working with css classes</h2>
  <div>
    <p [class.text-error]="hasError">
      This text might be with errors
    </p>
    <p [ngClass]="messageClasses">
      This text is binded with angular special chars
    </p>
  </div>
  <div>
    <p [style.color]="hasError ? 'orange' : 'teal'">Style binding</p>
    <p [style.color]="highlightColor">Style binding 2</p>
    <p [ngStyle]="messageStyles">Style binding 3</p>
  </div>
  <h2>Working with events</h2>
  <div>
    <button (click)="onBtnClick($event)">Greeting</button>
    <button (click)="greeting='Greeting 2 clicked'">Greeting 2</button>
    <p>{{ greeting }}</p>
  </div>
  <div>
    <input #customInput type="text">
    <button (click)="logMessage(customInput.value)">Log</button>
  </div>
</div>


<hr>